.password {
	position: relative;

	&__input {
		padding-right: 35px;
	}

	&__btn {
		position: absolute;
		width: 20px;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			width: 25px;
			height: 2px;
			top: 50%;
			right: -2px;
			background-color: #292929;
			transform: translateY(-50%) rotate(45deg);
			opacity: 1;
			transition: all .2s ease;
		}

		&_active {
			&::after {
				opacity: 0;
			}
		}
	}
}