	.swiper {
		overflow: visible !important;
	}	
	
	.swiper-wrapper {
		align-items: center;
	}

	.swiper-slide {
		cursor: pointer;
	}

	.swiper-slide.swiper-slide-prev,
	.swiper-slide.swiper-slide-next {
		filter: blur(4px) !important;
	}

	.swiper-slide.swiper-slide-active {
		filter: none !important;
	}

	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: -30px !important;
	}

	.swiper-pagination-bullet {
    width: 24px !important;
		height: 4px !important;
		border-radius: 4px !important;
		background-color: #818c96 !important;
		opacity: 0.5 !important;
		transition: .2s all ease-in !important;
	}

	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet:hover {
		background-color: #000 !important;
		width: 34px !important;
	}

	.swiper-pagination-bullet-active {
		opacity: 1 !important;
	}

	.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
	.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next  {
    transform: scale(0.8) !important;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next  {
	transform: scale(0.6) !important;
}
